body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
}

.list-container{
  width: 300px;
  margin: 50px auto;
  background-color:white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0, 4.1);
}

.user-list{
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.user-item{
  padding: 12px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn,
.add-btn{
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 0 3px black;
  transition: 0.2s;
}

.remove-btn{
  background-color: crimson;
  color: white;
}

.remove-btn:hover{
  opacity: 0.90;
}

.add-btn{
  background-color: green;
  color: white;
}

.add-btn:hover{
  opacity: 0.85;
}

.user-input{
  margin-top: 20px;
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-left: 25px;
}

.user-input:focus{
  outline: none;
  border-color: dodgerblue;
}

.user-form{
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

h1{
  text-align: center;
  margin-bottom: 20px;
}