.user-list{
  background-color: lightgrey;
  padding: 20px;
  list-style: none;
}

.user-item{
  margin-bottom: 10px;
}

.remove-btn,
.add-btn{
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.remove-btn{
  background-color: crimson;
  color: white;
}

.add-btn{
  background-color: green;
  color: white;
}

.user-input{
  padding: 8px;
  margin-right: 10px;
}