.app{
  width: 300px;
  margin: 40px auto;
}

.user-list{
  background-color: lightgrey;
  padding: 20px;
  list-style: none;
  border-radius: 10px;
  box-shadow: 0 0 10px gray;
}

.user-item{
  margin-bottom: 10px;
}

.remove-btn,
.add-btn{
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.remove-btn{
  background-color: crimson;
  color: white;
}

.remove-btn:hover{
  opacity: 0.85;
}

.add-btn{
  background-color: green;
  color: white;
}

.add-btn:hover{
  opacity: 0.85;
}

.user-input{
  padding: 8px;
  margin-right: 10px;
}